@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url("https://use.typekit.net/gvc6zix.css");
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-size: 20px; 
	font-family: "Raleway", sans-serif;
}
header{
	width:100%;
}

header img{
	width:20%;
	padding: .5em;
	min-width:300px;
}
nav {
	background-color:#075326; 
	text-align:center;
	margin:0,10;
	padding: .3em;
}

nav a:hover {
	border-bottom:1px solid #e9ce7f;
	/*color:#e2e8f1;*/
	text-decoration: none;
}
nav a {
	color:#e2e8f1;
	/*font-style: bold;*/ /*ask mentor*/
	font-size: 1em;
	display: block;
	width:16%;
	float: left;
	padding:0;
}

.header-link{
	padding:2em auto;

}
/*nav a:hover {
	text-decoration: underline;
	text-decoration-color:#e9ce7f; */
}

#intro div {
	width:100%;
    max-width: 1600px;
    margin: auto;
}

#intro{
	background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1)), url("../images/homepage-image.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat:no-repeat;
	background-size: cover;
	height:1000px;
	text-align:center;
}

/*#intro:after{
content:" ";
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
background:rgba(255,255,255,0.2);
z-index:1;
pointer-events:none;*/


}
#intro img{
	width:100%;
	position: top;
	padding-bottom: 10px;
}

p {
	line-height: 1.5em;
	font-size: 1em;
	font-family: "Raleway", sans-serif; 
	color:#222222;
	padding-bottom:2em;
}

img {
	width: 100%;
	display: block;
}
img:hover{
	opacity:700;
	transition:opacity .2s ease-in-out
	-moz-transition: opacity .2s ease-in-out
	-webkit-transition:opacity .2s ease-in-out
	-o-transition:opacity .2s ease-in-out;
}


h1{font-family:"daniel", serif;
	font-size: 2em;
	padding: .5em;
	color:#0f394e;
}

h2 {
	font-family:"daniel", serif;
	font-size: 2em;
	color:#0f394e;
	padding:1em 0 1em 0;
}
h3 {
	font-family:"Raleway", san-serif;
	/*padding: .5em;*/
	padding:1em 0 1em 0;
}
a {
	text-decoration: none;
	border-bottom: 1px solid:#e9ce7f; /*ask for mentor help here*/
	color:#075326;
	padding-bottom: 2px;
}

#slogan{
	 font-size: 3.25em;
    padding-top: 230px;
    padding-left: 6em;
    padding-right: 6em;
	
}
#hero-paragraph{
	font-size:1.5em;
	padding:2em;
	margin:0 318px;	
}

#featured{
	width: 90%;
	margin:0 auto;
/*	background: #e2e8f1;*/
}
.blog {
	float:left;
	width: 50%;
	padding:0 2em;
}
#second-block{
	width:100%;
}

.work-service-download{
	width:33.33%;
	padding:2em;
	margin:0 auto;
	float:left;
}

#about-us{
    width: 75%;
    clear: both;
    margin: 0 auto;

}
.bio{
	display: block;
	width:50%;
	margin:0 auto;
	padding: 0 2em;
	float:left;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content:"";
	clear: both;
	height:0;
}
footer{
	background-color:#075326;
	/*height: 400px;*/
	width:100%;
	display: block;
	float:left;
}

#bottom-nav a{
	color:#F7F7F7;
	font-style: bold;
	font-size: 1em;
	/*display: block;
}*/
}
ul{
	margin:0 auto;
	list-style: none;

}
li{
	padding:1em;
	padding: .5em;
    text-align: left;
    margin: .5em;
}
li a{

	color:#F7F7F7;
	font-style: bold;
	font-size: 1em;
	position: center;
	display: block;
	width:16%;
	float: left;
	padding:0;
}

li a:hover {
	text-decoration: underline;
	color:#e2e8f1;
}
#nav-boxes{
	width:33.33%;
	padding:2em;
	margin:0 auto;
	float:left;


}
h2.light{
	color:#e9ce7f;
}
/*
p.light{
	color:#e2e8f1;
}*/

footer p{
	color:#e2e8f1;
	
}

a#cta {
    background: #075326;
    color: #e2e8f1;
    display: block;
    width: 311px;
    clear: both;
    margin: 3em auto;
    padding: 27px;
    text-align: center;
    border: none;
    border-radius:3em;
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,.2);
    position: center;
   }

 a#cta:hover{

	border-bottom:1px solid #e9ce7f;
 	padding-bottom:1px;

}

hr#yellow{
	border-bottom:3px solid #e9ce7f;
	width: 100px;
}
hr#blue{
	border-bottom:3px solid #0f394e;
	width: 25%;
}
hr#section{
	border-bottom:3px solid #075326;
	width:90%;
}

.hamburger{
	background: none;
	position:absolute;
	top:0
	right:0
	line-height:45px;
	padding:5px, 15px 0px 15px;
	color:#0f394e;
	border:0;
	font-size: 1.4em;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:1000000000000000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.mobile-menu{
	z-index: 10000000000;
	font-size:1em;
	position: absolute;
	width:100%;
	background-color:#075326; 
	text-align:center;
	margin:0,10;
	padding: .3em;
	visibility: hidden;
}
.mobile-menu ul{
	margin:0;
	padding:0;
	list-style-type: none;
	list-style-image: none;
}
.mobile-menu li{
	display:block;
	padding: 15 0
	border-bottom #dddddd 1px solid;
}
.mobile-menu li:hover{
	display: block;
	background:#ffffff;
	padding:15px 0 15px 0;
	border-bottom:#dddddd 1px solid;
}
.mobile-menu ul li a:hover{
	text-decoration: none;
	color:#666;
} 


/*label {
	color:#e2e8f1;
	font-style: bold;
	font-size: 1em;
	position: center;
	display: block;
	width:16%;
	float: right;
	padding:0;
	display:none;
	background: #075326;
}

label:hover {
	text-decoration: underline;
	color:#e2e8f1;
}
*/
@media screen and (max-width:1800px){
	#hero-paragraph{
	font-size:1.25em;
	padding:2em;
	margin:0 16px;	
	}
	#slogan{
	font-size: 2.9em;
	padding-top:185px;
	padding-top: 254px;
    padding-right: 3em;
    padding-left: 3em;
	}
	#intro{
	height:800px;
	}

}


@media screen and (max-width:1600px){

	#hero-paragraph{
	font-size:1.25em;
	padding:2em;
	margin:0 16px;	
	}

}


/*.incremental-fade:hover{
	transition:all .15s ease-in-out;
	opacity:1;*/
}
@media screen and (max-width:1440px){

	#hero-paragraph{
	font-size:1.25em;
	padding:2em;
	margin:0 16px;	
	}
	#slogan{
	font-size: 2.9em;
    padding-top: 213px;
    line-height: 1.35em;
    padding-right: 1em;
    padding-left: 1em
	}

}

@media screen and (max-width:1200px){

	#hero-paragraph{
	font-size: 1.25em;
    padding-top: 17px;
    line-height: 1.350em;	
	}
	#slogan{
	font-size: 2.9em;
    padding-top: 213px;
    line-height: 1.35em;
    padding-right: 1em;
    padding-left: 1em
	}

@media screen and (max-width:1020px){
	.work-service-download{
	width:100%;
	}
	.bio{
	width:100%;
	}
}

	

}
@media screen and (max-width:950px){
		.blog {
	width: 100%;
    padding: 1em 1em;
	}


}

@media screen and (max-width:850px){
	nav {
	visibility: hidden;
	}
	nav a {
	visibility: hidden;
	}
	header{
	width:100%;
	height: 3.5em;
	}
	#intro{
	background-image:url("../images/homepage-image.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat:no-repeat;
	background-size: cover;
	height:730px;
	text-align:center;
	}
	#slogan{
	font-size: 2.5em;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 264px;
    line-height: 1.25em;
	}
	#hero-paragraph{
	font-size:1em;
	padding:1em;
	margin:0 16px;	
	}
	/*label{
	display:block;
	}
	#toggle:checked + nav {
	display:block*/

	}


}

@media screen and (max-width:750px){
	#slogan {
    font-size: 2em;
    line-height: 1.25em;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 253px;
    line-height: 1.25em;
 
	}

	#hero-paragraph{
	font-size:.9em;
	padding:1em;
	margin:0 16px;	
	}
	#intro{
	height:637px;


}
@media screen and (max-width:540px){

	#slogan {
    font-size: 2em;
    line-height: 1.25em;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 253px;
	}

	#hero-paragraph{
	font-size: .79em;
	padding:1em;
	margin:0 16px;	
	}

}
